* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: inter,sans-serif;
    height: 100vh;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
.nav--logo_text, .nav--title{
    margin:0;
}
nav.dark {
    background-color: #21222A;
}
.nav--logo_text{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}


.nav--icon{
    height: 30px;
    margin-right: 7px;

}
.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}
main {
    padding: 57px 27px;
    background-image: url("react-icon-light.png"); 
    color:#2B283A;
    background-repeat: no-repeat;
    background-position: right 75%;
    background-color: white;
    
}
main.dark{
    background-image: url("react-icon-dark.png");
    background-color: #282D35;
    color: white;    
}


.header{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}
.facts{
    margin-top: 46px;
    max-width: 400px;
}

.facts >li{
    line-height: 19px;
    padding-block: 10px;
}
.facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}